<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: linear-gradient(to right,rgb(246, 112, 34),rgb(253, 67, 67),black);
        }
        h1{
            color: rgb(26, 23, 60);
            text-align: center;
            justify-content: center;
            font-size: 13rem;
            text-shadow: 0px 0px 13px black;
        }
        h1:hover{
            color: white;
        }

    </style>
</head>
<body>
    <h1>
        i am batman
    </h1>
</body>
</html>