<nav class="navbar">
    <div class="navbar-brand">
        <a href="#home">My LMS</a>
    </div>
    <div class="navs">
        
        <ul class="nav-list">
            <li class="nav-item"><a href="{% url 'home'%}">Home</a></li>
            <li class="nav-item"><a href="#course">Course</a></li>
            <li class="nav-item dropdown">
                <a href="{% url 'slogin'%}">Login</a>
            </li>
            <li class="nav-item"><a href="#profile">Profile</a></li>
        </ul>
    </div>
</nav>
