{% include 'cbvapp/root.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        {% if  not form.instance.pk %}
        <h1>ADD New company here..!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="ADD">
        </form>
        {% else %}
        <h1>Update company Details</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="update">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}