{% extends "index.html" %}
{% load static %}
{% block content %}

<style>
    h1,h2{
        color: white;
    }
    
    .row{
        display: flex;
        flex-direction: row;
    }
    .card{
        background-color: #425f52;
        box-shadow: 2px 3px 16px black;
        margin-bottom: 20px; /* Added margin for spacing */
    }
    
    li{
        list-style: none;
        font-size: 1.3rem;
        color: aliceblue;
    }
    img{
        max-width: 100%; /* Ensure images are responsive */
        height: auto; /* Maintain aspect ratio */
    }
    .btn{
        width: 100px;
    }
</style>

<body>
    <div class="container">
        <div class="jambotron">
            <div class="card card-body">
                {% if company_details.image %}
                <img src="{{ company_details.image.url }}" alt="" width="40px" height="40px">
                {% else %}
                <h1>default img </h1>
                {% endif %}
                <h1>{{ company_details.name }}</h1>
                <h1>{{ company_details.cmp_name }} company details </h1>
                <h2>CEO of this company: {{ company_details.cmp_ceo }}</h2>
                <h2>Origin of the company: {{ company_details.origin }}</h2>
                <a class="btn btn-info" value="edit" href="{% url 'edit' pk=company_details.id %}" width="300px" height="40px ">
                    edit
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card card-body">
            <h2>{{ company_details.cmp_name }} Product List:</h2>
            <ul>
                <div class="row">
                {% for product in company_details.company.all %}
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <marquee behavior="scroll" direction="left" scrollamount="5" onmouseover="this.stop();" onmouseout="this.start();">
                                    {% for i in product.product.all %}
                                        <img src="{{ i.image.url }}" class="card-img-top" alt="..." style="width:150px; height:150px; margin-right:20px; border-radius:10px;">
                                    {% endfor %}
                                </marquee>
                                
                                <br>
                               <h2><strong>Name:</strong> {{ product.product_name }}  </h2>  <br>
                               <h2><strong>Price:</strong> {{ product.product_price }}</h2> <br>
                               <h2><strong>Color:</strong> {{ product.product_color }}</h2> <br>
                               <h2><strong>Fuel Type:</strong> {{ product.fuletype }}</h2> <br>
                               <h2><strong>Seat Capacity:</strong> {{ product.seatcapasity }}</h2> <br>
                            </div>
                           <a href="{% url 'emi' product.id %}">EMI

                            <box-icon name='help-circle'></box-icon>
                           </a> 
                        </div>
                    </div>
                {% empty %}
                    <li>No products available for this company.</li>
                {% endfor %}
                </div>
                <br><br>
            </ul>
        </div>
    </div>
</body>

{% endblock content %}
