{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
   
    li{
        font-size: 2rem;

    
    }
    a{
        text-decoration: none;
        color:#493D9E ;

    }
    .card{
        background-color: #bcaefc;
        transition: all .7s ease ;
        margin: 40px;
    }
    .card:hover{
        background-color: #6bad9f ;
    }
    body{
        background-color: #e0dff0;
    }
</style>

<style>

</style>
  
    <div class="container">
        <div class="jambotron">
            <h1>List of Companies</h1>
            <ol>
                <div class="row">
                {% for i in company_list %}
               
                    <div class="col-md-4">
                        <div class="card card-body ">
                        <a href="{% url 'company' i.id %}">

                                {% if i.image %}
                                    <img src="{{ i.image.url }}" alt="" width="40px" height="40px">
                                {% else %}
                                    <img src="{% static 'path/to/default/image.png' %}" alt="Default Image" width="40px" height="40px">
                                {% endif %}

                                <h3>{{ i.cmp_name }}</h3> 
                                <h3> origin: {{i.origin}}   </h3>
                               
                            </a>
                            
                        </div>
                    </div>
                    <br>
                    <br>
              
                {% endfor %}
            </div>
            <br><br>
            </ol>
        </div>
      
           
        
    </div>

{% endblock content %}
