<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            display: flex;
            border: 4px solid black;
            outline: 2px solid red;
        }
    </style>
</head>
<body>
    <h1> hey there you have uploaded ur images</h1>
    <div class class="box">
    {% for i in data %}
        <h4>{{i.name}}</h4>
        <p>{{i.description}}</p>
        <p>{{i.upload_time}}</p>
        {% if i.img %}
        <img src="{{i.img.url}}" height="400px" width="500px" alt="no img">
        {% else %}
            <p> no image display</p>
        {% endif %}
    {% endfor%}
    </div>
</body>
</html>